* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.image {
  width: 100%;
  margin: 10px 0;
}
.background {
  background-image: url(../pages/social_engineering/images/indexbackground.jpeg);
  width: 100%;
  background-position: left;
  height: 400px;
  margin: 30px 0;
  /* background-attachment: fixed; */
}
.about_background {
  background-image: url(../pages/useful_tools/images/back.jpg);
  width: 100%;
  background-position: center;
  height: 400px;
  margin: 30px 0;
  filter: grayscale(100%);
  /* background-attachment: fixed; */
}
.image img {

  width: 100%;
  max-height: 100%;
  object-fit: cover;
}


h1 {
 
  color: rgb(32, 209, 49);
  font-size: 90px;
  line-height: 79px;
}
p {
  color: #eee;
  margin: 20px 5px;
  font-size: 20px;
  text-align: justify;
}
img {
  padding: 40px 0;
}

.intro {
  
  /* border-bottom: 1px solid #eee; */
  margin: 70px 0 0 0;
}
.osint_background {
  width: 100%;
  background-position: center;
  height: 400px;
  margin: 30px 0;
  /* background-attachment: fixed; */
  background-image: url("../pages/osint_techniques/images/info.png");
  filter: grayscale(100%);
}
.tools_background {
  filter: grayscale(100%);
  width: 100%;
  background-position: left;
  height: 400px;
  margin: 30px 0;
  background-image: url("../pages/useful_tools/images/bad1.png");
  /* background-attachment: fixed; */
}

.burger:before, .burger span, .burger:after {
  width: 100%;
  height: 2px;
  display: block;
  background: #eee;
  border-radius: 2px;
  position: absolute;
  opacity: 1; 
}
li {
  color: #eee;
}
#down , #down:hover{
  color: #eee;
}
a {
  color: #eee;
  font-size: 18px;
  text-decoration: none;
  
}

a:hover {
  transition: 0.5s;
  color:#eee;
  
}
main ul {
  list-style: armenian;
  margin: 20px;

}
main {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0  40px;
  padding: 40px 0;
}
main a{
  text-decoration: dashed;
  color: rgb(32, 209, 49);
}
@media screen and (max-width:1300px) {
  main {
    max-width: 90vw;
    padding: 40px 0;

  }
h1 {
    
    word-wrap: break-word;
  }

}
@media screen and (max-width:800px) {
  h1 {
    font-size: 70px;
    line-height: 59px;
  }
  p, main a {
    font-size: 18px;
  }
  main{
    margin: 0  30px;
  }
}
@media screen and (max-width:600px) {
  .intro h1 {
    font-size: 60px;
    line-height: 49px;}

  .background {
    background-image: url(../pages/social_engineering/images/indexbackground.png);
  }

  .tools_background {
   background-image: url("../pages/useful_tools/images/bad.png");
    
  }
  .osint_background {
    background-image: url("../pages/osint_techniques/images/info2.png");
  }
  
}
