* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  background-color: #000;
  display: flex;
  flex-direction: column;

  align-items: center;
}
h1 {
 
  color: rgb(26, 176, 41);
  font-size: 90px;
  line-height: 69px;
}
p {
  color: #eee;
  margin: 50px 0 15px 0;
  font-size: 20px;
}
.intro {
  
  /* border-bottom: 1px solid #eee; */
  margin: 100px 0 0 0;
}
.burger:before, .burger span, .burger:after {
  width: 100%;
  height: 2px;
  display: block;
  background: #eee;
  border-radius: 2px;
  position: absolute;
  opacity: 1; 
}
li {
  color: #eee;
}
#down , #down:hover{
  color: #eee;
}
a {
  color: #eee;
  font-size: 18px;
  text-decoration: none;
  
}

a:hover {
  transition: 0.5s;
  color:#eee;
  
}
main ul {
  list-style: none;
  margin: 6% 0;
}
main {
  display: flex;
  flex-direction: column;
  
  padding: 40px 5%;
}
main a{
  text-decoration: dashed;
  color: rgb(26, 176, 41);
}
@media screen and (max-width:1000px) {
  h1 {
    font-size: 9vw;
  }
}