* {
   margin: 0;

   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
   background-color: #eee;
   color: rgb(43, 189, 58);
   margin: auto;
}

.burger:before,
.burger span,
.burger:after {
   width: 100%;
   height: 2px;
   display: block;
   background: #000;
   border-radius: 2px;
   position: absolute;
   opacity: 1;
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   max-width: 55vw;
   margin: auto;
   height: fit-content;
   justify-self: center;
}

img {
   display: block;
   padding: 0;
}

.demo {
   max-width: 100%;
   margin: 30px 0;
   background-color: rgba(43, 189, 58, 0.671);

}
.question {
   font-size: 20px;
   text-decoration: underline;
}
.answer {
   font-size: 20px;
   font-weight: 900;
   color: rgb(43, 189, 58);
   padding: 20px 20px 0 20px;
}

ul {
   list-style: none;
   padding: 30px 0;
}

li {
   color: #000;
   margin-bottom: 10px;
}

label {
   color: rgb(43, 189, 58);
   font-size: 22px;
}

h1 {

   font-size: 50px;
   line-height: 46px;
}

h2 {
   font-size: 35px;
   margin: 40px 0 0 0;
   line-height: 30px;
}

.image {
   width: 60%;
}

.image img {
   width: 100%;
   max-height: 100%;
   object-fit: cover;
}

h1,
h2,
h3,
h4,
h5 {
   padding-top: 30px;
   color: #000;
}

a {

   text-decoration: none;
   font-size: 20px;

}

.instructions {
   text-align: left;
   display: grid;
   grid-template-columns: 1fr;
   margin: 30px 0;
   gap: 20px;

}

.instructions div {

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   padding: 30px 0;

}

a:hover {
   transition: 0.5s;
}

article {
   padding-bottom: 30px;
   margin: 60px 0;
   padding: 20px;
   width: 100%;
   border-bottom: 1.5px solid #000;

}

p {
   padding-top: 15px;
   font-size: 18px;
   color: #000;
   text-align: justify;
}

main articles p {
   text-align: center;
}

main a {
   color: rgb(43, 189, 58);
   font-weight: 600;
}
span {
   color: rgb(43, 189, 58);
   font-weight: 800;
}
main a:hover {
   color: rgb(141, 186, 145);
}

.burger:before,
.burger span,
.burger:after {

   background: #000;
   border-radius: 2px;
   position: absolute;
}

.image {
   margin: 10px 0;
}

@media screen and (max-width: 1200px) {
   main {
      max-width: 65vw;

   }
   .image {
      width: 100%;
   }
}

   @media screen and (max-width: 800px) {

      main {
         max-width: 90vw;

      }

      h1 {
         font-size: 40px;
      }



   }